* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;


}

i {
    color: #fff;
}

body.dark-theme {
    background-color: #121212;
    color: #f0f0f0;
}

body.dark-theme .slogan {
    color: #f0f0f0;
}

body.dark-theme .content {
    color: #d3d3d3;
}




body.dark-theme .features-list li {
    color: #d3d3d3;
}

body.dark-theme footer {
    color: #d3d3d3;
}





body.dark-theme {
    background-color: #121212;
    color: #f0f0f0;
}

.dark-theme a {
    color: #3700b3;
}




::-webkit-scrollbar {
    display: none;
}

#home {
    color: #3700b3;
    height: 88%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav {
    text-align: center;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: #3700b3;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #6200ea;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn a {
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    background-color: #3700b3;
}


.container {
    justify-content: space-between;
    display: flex;
    margin: 150px 125px;
    border-radius: 8px;
    padding: 30px;
    color: #333;
}

.heading {
    font-size: 46px;
    font-weight: bold;
    color: #6200ea;
    margin-bottom: 38px;
    text-align: center;
}

.giphy {
    margin-top: 21px;
    height: 500px;
}

.content {
    color: black;
    line-height: 1.6;
    font-size: 16px;
}

.info {
    padding: 15px 66px;
}

.highlight {
    color: #6200ea;
    font-weight: bold;
}

.container2 {
    display: flex;
    justify-content: space-between;
    margin: 150px 125px;
    border-radius: 8px;
    padding: 30px;
    color: #333;
}

.features-list {
    color: black;
    list-style-type: none;
    padding: 0;
}

.features-list li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    font-size: 16px;
}

.features-list li:before {
    content: "•";
    color: #6200ea;
    font-weight: bold;
    position: absolute;
    left: 0;
}

.stack-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
    padding: 0 45px;
    margin: 50px 0;
    justify-items: center;
}

.stack-item {
    position: relative;
    margin: 32px 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.stack-item img {
    width: 80px;
    height: 80px;
}

.stack-item .name {
    display: block;
    font-size: 14px;
    color: #6200ea;
    margin-top: 8px;
    font-weight: bold;
}

.stack-item a {
    color: #3700b3;
    text-decoration: none;
}

.stack-item:hover {
    transform: scale(1.1);
}

.stack-item:hover::after {
    content: attr(data-title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6200ea;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: normal;
}

.stack-heading {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 30px;
    background: linear-gradient(to right, #6200ea, #3700b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width:768px) {
    #home {
        display: flex;
        flex-direction: column;
    }



    .container2 {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;
    }

    .container {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .features-list {
        margin: 32px
    }

    footer {
        text-align: start;
    }

}


footer {
    color: #3700b3;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    bottom: 0;
    width: 100%;
}

.footer-content p {
    margin: 0;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(55, 0, 179, 0.5);
    filter: blur(100px);
    pointer-events: none;
    z-index: -1;
}

.circle:nth-child(1) {
    width: 200px;
    height: 200px;
    top: 15%;
    left: 10%;
}

.circle:nth-child(2) {
    width: 300px;
    height: 300px;
    top: 50%;
    left: 60%;
}

.circle:nth-child(3) {
    width: 150px;
    height: 150px;
    top: 20%;
    left: 5%;
}

.circle:nth-child(4) {
    width: 250px;
    height: 250px;
    bottom: -3%;
    right: 0%;
}

.circle:nth-child(5) {
    width: 180px;
    height: 180px;
    bottom: -118%;
    left: 0%;
}


.slogan {
    color: black;
    font-size: 1.2rem;
    margin: 32px 0px;
    text-align: center;
}


.flex {
    text-align: center;
}